$primary: hsl(38.66deg 100% 49.61%);
$secondary: hsl(49.09deg 12.36% 17.45%); //hsl(0deg 0% 40.64%);

// Dark mode
$primary-dark: hsl(38.66deg 100% 49.61%);
$secondary-dark: hsl(49.09deg 12.36% 30.69%); //hsl(0deg 0% 40.64%);
$body-bg-dark: hsl(246.16deg 22.47% 11.6%);

// Fonts
$fonts: "Inter", system-ui;
$monospacedFonts: "Cousine", monospace;
