<div class="col d-flex gap-2 align-items-end">
  <div class="flex-fill">
    <label>Text color</label>
    <ct-color-picker
      [color]="textColor()"
      (colorChange)="onTextColorChanged($event)"/>
  </div>

  <button type="button"
          class="btn btn-secondary"
          (click)="switchColors()">
    <div class="color-switcher">
      <i class="bi bi-arrow-left-right color-switcher"></i>
      <span class="visually-hidden">Switch colors</span>
    </div>
  </button>

  <div class="flex-fill">
    <label>Background color</label>
    <ct-color-picker
      [color]="bgColor()"
      (colorChange)="onBgColorChanged($event)"/>
  </div>
</div>
