.hue-slider-container {
  --ct-hue-slider-thumb-width: 0.825rem;
  --ct-hue-slider-thumb-height: 1.5rem;
  --ct-hue-slider-track-height: 0.75rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.hue-slider {
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  height: var(--ct-hue-slider-track-height);
  background: linear-gradient(
      to right,
      hsl(0, 100%, 50%),
      hsl(60, 100%, 50%),
      hsl(120, 100%, 50%),
      hsl(180, 100%, 50%),
      hsl(240, 100%, 50%),
      hsl(300, 100%, 50%),
      hsl(360, 100%, 50%)
  );
  border-radius: var(--bs-border-radius);
  outline: none;
  cursor: pointer;

  // Pseudo-elements must be split across multiple rulesets to have an effect.
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: var(--ct-hue-slider-thumb-width);
    height: var(--ct-hue-slider-thumb-height);
    background: white;
    border: 1px solid #333;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: var(--ct-hue-slider-thumb-width);
    height: var(--ct-hue-slider-thumb-height);
    background: white;
    border: 2px solid #333;
    border-radius: 50%;
    cursor: pointer;
  }
}
