<div class="container-fluid color-palette-header-container">
  <div class="color-palette-header">
    <h2 class="fs-4">
      {{ palette().name }}
    </h2>

    <ct-generator-style-switcher/>
  </div>

  <strong class="text-muted">{{ styleName() }}</strong>
  <p class="text-muted">
    {{ styleDescription() }}
  </p>
</div>

<div class="color-palette"
     cdkDropList
     cdkDropListOrientation="horizontal">
  @for (slot of PALETTE_SLOTS; track $index) {
    <div ct-single-palette-color
         class="single-palette-color"
         [color]="palette()[slot]"
         [slot]="slot"
         cdkDrag
         cdkDragBoundary=".color-palette"
         (cdkDragDropped)="drop($event)">
    </div>
  }
</div>
