<div class="container-fluid color-palette-header-container">
  <div class="color-palette-header">
    <h2 class="fs-4">
      {{ palette().name }}
    </h2>

    <app-generator-style-switcher/>
  </div>

  <strong class="text-muted">{{ styleName() }}</strong>
  <p class="text-muted">
    {{ styleDescription() }}
  </p>
</div>

<app-hue-slider [hue]="hue()" (hueChanged)="onHueChanged($event)"/>

<div class="color-palette">
  @for (slot of PALETTE_SLOTS; track $index) {
    <app-single-palette-color [color]="palette()[slot]"
                              [slot]="slot"/>
  }
</div>
