<div class="hstack">
  H
  <ct-hue-slider
                  [hue]="colorHue()"
                  (hueChange)="updateHue($event)"/>
</div>
<div class="hstack">
  S
  <ct-saturation-slider
                         [sat]="colorSaturation()"
                         (satChange)="updateSaturation($event)"
                         [baseColor]="color()"/>
</div>
<div class="hstack">
  L
  <ct-luminance-slider
                        [lum]="colorLuminance()"
                        (lumChange)="updateLuminance($event)"/>
</div>
