<div class="hstack gap-2 align-self-end">
  <div class="form-check form-switch form-check-inline">
    <input class="form-check-input"
           type="checkbox"
           name="styleRadio"
           id="random"
           value="random"
           [ngModel]="useRandom()"
           (ngModelChange)="useRandomChanged($event)"
           role="switch"
           switch>
    <label class="form-check-label" for="random">
      Use random style
    </label>
  </div>


  <div class="d-inline-block" ngbDropdown>
    <button type="button"
            class="btn btn-outline-secondary"
            id="styleSwitcher"
            [disabled]="useRandom()"
            ngbDropdownToggle>
      Select style
    </button>

    <div ngbDropdownMenu aria-labelledby="styleSwitcher">
      @for (style of styles; track $index) {
        <button ngbDropdownItem app-style-button [forStyle]="style"></button>
      }
    </div>
  </div>
</div>


