<div class="container-fluid">
  <div class="row gx-5 contrast-checker px-5 mt-5"
       [style.--ct-cc-bg]="backgroundColor().hex()"
       [style.--ct-cc-text]="textColor().hex()">
    <div class="col-6">
      <div ct-contrast-colors></div>
    </div>

    <div class="col-6">
      <div ct-quote-of-the-day></div>
    </div>
  </div>

  <div class="mt-5 d-flex justify-content-between align-items-center">
    <h2>Samples <small class="fs-6 text-muted">(Font weight &#64; font size)</small></h2>

    <ct-font-selector class="mb-2"
                      label=""
                      descriptiveText="Search for a font from the Google font catalog for the samples below."
                      (fontSelected)="onFontSelected($event)"/>
  </div>
  <div ct-text-samples></div>
</div>
