<div class="d-inline-block">
  <button type="button"
          class="btn"
          id="colorModeSwitcher">
    <i class="bi bi-sun-fill"></i>
    <span class="visually-hidden">Color mode select</span>
  </button>
  <div aria-labelledby="colorModeSwitcher">
    <button [class.active]="currentTheme() === 'light'"
            (click)="onThemeSelect('light')">
      <i class="bi bi-sun-fill"></i>
      Light
    </button>
    <button [class.active]="currentTheme() === 'dark'"
            (click)="onThemeSelect('dark')">
      <i class="bi bi-moon-stars-fill"></i>
      Dark
    </button>
    <button [class.active]="currentTheme() === 'system'"
            (click)="onThemeSelect('system')">
      <i class="bi bi-circle-half"></i>
      System
    </button>
  </div>
</div>
